<%- include("./header") %>
<div class="row">
  <div class="col-6 mx-auto">
    <div class="container">
      <div class="card p-4 m-4 shadow">
        <div class="card-body">
          <h4 class="card-title mb-5">Log In to out secure system</h4>
          <div class="card-text">
            <hr class="mt-5 mb-5" />
            <a class="btn bg-danger btn-block" href="/auth/google">
              <i class="fa fa-google text-white mr-3"></i>
              <span class="text-white">Login with Google</span>
            </a>
            <a class="btn bg-primary btn-block" href="#">
              <i class="fa fa-facebook-square text-white mr-3"></i>
              <span class="text-white">Login with facebook</span>
            </a>

            <hr class="mt-5 mb-5" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%-include("./footer") %>
